[submodule "mbed-os"]
    path = mbed-os
    url = https://github.com/mbed-ce/mbed-os.git

[submodule "libs/flatbuffers"]
    path = lib/flatbuffers
    url = https://github.com/google/flatbuffers.git
